{%extends 'ttsx_goods/base.html'%}
{%block js%}
<script>
		function add_cart(gid) {
			 $.get('/user/islogin/',function (date) {
				 if(date.gnum){
				     $.get('/cart/add/',{'gid':gid},function (date) {
						if(date.isadd){
						    alert('添加成功')
						}
						else {
						    alert('添加失败，请稍后重试')
						}

                     })
				 }
				 else {
				     location.href = '/user/login/'
				 }
             })
        }
</script>
{%endblock js%}
{%block head%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{t1.ttitle}}</a>
	</div>
{%endblock head%}
{%block right%}

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{t1.id}}_1_1/" {%if num2 == 1%}class="active"{%endif%}>默认</a>
				<a href="/list{{t1.id}}_1_2/?desc={%if desc == '1'%}0{%else%}1{%endif%}" {%if num2 == 2%}class="active"{%endif%}>价格</a>
				<a href="/list{{t1.id}}_1_3/" {%if num2 == 3%}class="active"{%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for goods in page%}
				<li>
					<a href="/detail{{goods.id}}/"><img src="/static/{{goods.gpic}}"></a>
					<h4><a href="/detail{{goods.id}}/">{{goods.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gprice}}/500g</span>
						<a href="javascript:add_cart({{goods.id}})" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>

			<div class="pagenation">

				{%if page.has_previous%}
				<a href="/list{{t1.id}}_1_{{num2}}/?desc={{desc}}">首页</a>
				<a href="/list{{t1.id}}_{{page.number|add:-1}}_{{num2}}/?desc={{desc}}"><上一页</a>
				{%endif%}
				{%if paginator.num_pages < 6%}
					{%for pindex in paginator.page_range%}
					<a href="/list{{t1.id}}_{{pindex}}_{{num2}}/?desc={{desc}}" {%if page.number == pindex%}class="active"{%endif%}>{{pindex}}</a>
					{%endfor%}

				{%else%}
					{%if page.number == 1%}
					<a href="#" class="active">1</a>
					<a href="/list{{t1.id}}_2_{{num2}}/?desc={{desc}}">2</a>
					<a href="/list{{t1.id}}_3_{{num2}}/?desc={{desc}}">3</a>
					<a href="/list{{t1.id}}_4_{{num2}}/?desc={{desc}}">4</a>
					<a href="/list{{t1.id}}_5_{{num2}}/?desc={{desc}}">5</a>
					{%elif page.number == 2%}
					<a href="/list{{t1.id}}_1_{{num2}}/?desc={{desc}}">1</a>
					<a href="#" class="active">2</a>
					<a href="/list{{t1.id}}_3_{{num2}}/?desc={{desc}}">3</a>
					<a href="/list{{t1.id}}_4_{{num2}}/?desc={{desc}}">4</a>
					<a href="/list{{t1.id}}_5_{{num2}}/?desc={{desc}}">5</a>
					{%elif page.number == paginator.num_pages|add:-1%}
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-4}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-4}}</a>
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-3}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-3}}</a>
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-2}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-2}}</a>
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-1}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-1}}</a>
					<a href="#" class="active">{{paginator.num_pages}}</a>
					{%elif page.number == paginator.num_pages%}
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-4}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-4}}</a>
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-3}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-3}}</a>
					<a href="/list{{t1.id}}_{{paginator.num_pages|add:-2}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages|add:-2}}</a>
					<a href="#" class="active">{{paginator.num_pages|add:-1}}</a>
					<a href="/list{{t1.id}}_{{paginator.num_pages}}_{{num2}}/?desc={{desc}}">{{paginator.num_pages}}</a>
					{%else%}
					<a href="/list{{t1.id}}_{{page.number|add:-2}}_{{num2}}/?desc={{desc}}">{{page.number|add:-2}}</a>
					<a href="/list{{t1.id}}_{{page.number|add:-1}}_{{num2}}/?desc={{desc}}">{{page.number|add:-1}}</a>
					<a href="#" class="active">{{page.number}}</a>
					<a href="/list{{t1.id}}_{{page.number|add:+1}}_{{num2}}/?desc={{desc}}">{{page.number|add:+1}}</a>
					<a href="/list{{t1.id}}_{{page.number|add:+2}}_{{num2}}/?desc={{desc}}">{{page.number|add:+2}}</a>
					{%endif%}
				{%endif%}
				{%if page.has_next%}
				<a href="/list{{t1.id}}_{{page.number|add:1}}_{{num2}}/?desc={{desc}}">下一页></a>
				<a href="/list{{t1.id}}_{{paginator.num_pages}}_{{num2}}/?desc={{desc}}">末页</a>
				{%endif%}
			</div>
		</div>
{%endblock right%}